@font-face {
  font-family: 'Formula1';
  src: url('./assets/Formula1-Regular.woff') format('woff')        
}


*{
  font-family: 'Formula1';
  margin: 0;
  padding: 0;
  
}

main{
  height: 100svh;
  width: 100svw;
  background: url('../public/assets/track.webp');  
  background-size: cover;
  background-position: center;
}

.mask{
  position: absolute;
  height: 100%;
  width: 100%;
}


canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 42%;
  z-index: 0;
}

.content-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  gap: 30px;
  z-index: 1;
  
}

.lights-container{
  position: absolute;
  top: 2%;
  left: 37.5%;
  width: 25%;
  display: flex;
  justify-content: space-around;
}

.lights{
  background:rgb(24, 24, 24);
  height:280px;
  width:80px;
  border-radius:15px;
  position:relative;
  border:2px #666 solid;
}

.light{
  margin: 10px auto;
  display: block;
  width: 50px;
  height: 50px;
  border: 4px solid #494949;
  border-radius: 50px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5), inset 0px 10px 10px 0px;
}

.timer-container{  
  position: absolute;
  top: 35%;
  left: 37.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 30px solid rgb(220, 220, 220);
  color: rgb(220, 220, 220);
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgb(126, 126, 126) 0%, rgba(25,25,25,1) 7.5%);
  height: 220px;
  width: 25%;
  z-index: 2;
}

.timer{
  font-size: 7svw;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 2px;

}

.instruction{
  font-size: clamp(1svw, 1.1svw , 3svw);
  font-weight: bold;
}


.red-lights  .light:nth-of-type(3) ,.red-lights .light:nth-of-type(4){
  background-color: red;
  transition: 0s;
  transition-delay: 1s;
}
/**
.color-lights .lights:nth-of-type(2) .light:nth-of-type(3) ,.color-lights .lights:nth-of-type(2) .light:nth-of-type(4){
  background-color: red;
  transition: 0s;
  transition-delay: 1s;
}
.color-lights .lights:nth-of-type(3) .light:nth-of-type(3) ,.color-lights .lights:nth-of-type(3) .light:nth-of-type(4){
  background-color: red;
  transition: 0s;
  transition-delay: 2s;
}
.color-lights .lights:nth-of-type(4) .light:nth-of-type(3) ,.color-lights .lights:nth-of-type(4) .light:nth-of-type(4){
  background-color: red;
  transition: 0s;
  transition-delay: 3s;
}
.color-lights .lights:nth-of-type(5) .light:nth-of-type(3) ,.color-lights .lights:nth-of-type(5) .light:nth-of-type(4){
  background-color: red;
  transition: 0s;
  transition-delay: 4s;
}**/

@media (max-width: 1024px) {
  
  canvas {
    top: 35%;
  }

.lights-container{
  position: absolute;
  top: 5%;
  width: 100%;
  left: 0;
  z-index: 2;
}

.lights{
  background:rgb(24, 24, 24);
  height:200px;
  width:50px;
  border-radius:15px;
  position:relative;
  border:2px #666 solid;
}

.light{
  margin: 5px auto;
  display: block;
  width: 40px;
  height: 40px;
  border: 2px solid #494949;
  border-radius: 50px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5), inset 0px 10px 10px 0px;
}

  .timer-container{  
    top: 40%;
    left: 10%;
    height: 30svw;
    width: 80%;
  }

  .timer{
    font-size: clamp(40px, 15svw, 20svw);
    font-weight: bold;
    font-style: italic;
    letter-spacing: 2px;

  }

  .instruction{
    font-size: 20px;
    font-weight: bold;
  }


  .red-lights  .light:nth-of-type(3) ,.red-lights .light:nth-of-type(4){
    background-color: red;
    transition: 0s;
    transition-delay: 1s;
  }
}